:root {
    --mid-red: #e33947;
    --light-red:#f5818b;
     --dark-red: #9e1a1a ; --dark-blue: #1D3557;
    --green: rgb(15,151,15);
    --cream: #F1FAEE;
    --light-blue: #A8DADC;
    --med-blue: #457B9D;
}    

body {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background-color: #A8DADC;}

svg {background-color: #A8DADC; stroke-width: 1;}

#title {font-size: 25px; font-weight: bold; margin-top: 3vh;}

#description {font-size: 18px; font-weight: bold;}

#mapContainer {  width: auto;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;}

body .d3-tip {
  background-color: rgba(14, 13, 13, 0.8);
  border-radius: 6px;
  color: rgb(252, 236, 236);
  text-align: center;
  padding: 0.5em;
}

